<div class="container-fluid footer"> 
    <div class="row pt-2 justify-content-center align-items-center">
        <div class="footer-logo"></div>
    </div><br>
    <div class="row justify-content-center align-items-center footernavbar">
        <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
                <a class="btn btn-social-icon" href="/">Home</a>
            </li>
            <li class="list-inline-item">
                <a class="btn btn-social-icon" href="/about">About Us</a>
            </li>
            <li class="list-inline-item">
                <a class="btn btn-social-icon" href="/contact">Contact</a>
            </li>
            <li class="list-inline-item">
                <a class="btn btn-social-icon" href="/gallery">Gallery</a>
            </li>
            <li class="list-inline-item">
                <a class="btn btn-social-icon" href="/programmes">Programmes</a>
            </li>
        </ul>
    </div>
    <div class="row justify-content-center align-items-center footernavbar">
        <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
                <a class="btn btn-social-icon" href="#"><i class="fa fa-twitter fa-3x"></i></a>
            </li>
            <li class="list-inline-item">
                <a class="btn btn-social-icon" href="#"><i class="fa fa-facebook fa-3x"></i></a>
            </li>
            <li class="list-inline-item">
                <a class="btn btn-social-icon" href="#"><i class="fa fa-google-plus fa-3x"></i></a>
            </li>
            <li class="list-inline-item">
                <a class="btn btn-social-icon" href="#"><i class="fa fa-skype fa-3x"></i></a>
            </li>
            <li class="list-inline-item">
                <a class="btn btn-social-icon" href="#"><i class="fa fa-youtube fa-3x"></i></a>
            </li>
        </ul>
    </div>
    <div class="row justify-content-center align-items-center footernavbar">
        <p>S.E.W.A © 2019 | All Rights Reserved</p>
    </div>
</div>