<div class="row container-color">
        <div class="container">
            <div class="row">
                <div class="header-heading font-weight-bold col-lg-8 text-center order-sm-last">
                    अँधेरों में जिनके धुँधले हैं रास्ते।
                    दीप जलाना है उन्हीं के वास्ते।
                </div>
                <div class="col-lg-4 text-center order-sm-first">
                    <div class="header-logo mx-auto">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar sticky-top navbar-expand-sm navbar-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                    <span class="navbar-toggler-icon " style="color:black"></span>
            </button>
            {{!-- <a href="#" class="navbar-brand mr-auto">Company</a> --}}
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a href="/" class="nav-link"><span class="fa fa-home fa-lg"></span> Home</a></li>
                    <li class="nav-item"><a href="/about" class="nav-link"><span class="fa fa-info fa-lg"></span> About</a></li>
                    <li class="nav-item"><a href="/gallery" class="nav-link"><span class="fa fa-list fa-lg"></span> Gallery</a></li>
                    {{!-- <li class="nav-item"><a href="./contactus.html" class="nav-link"><span class="fa fa-address-card fa-lg"></span> Supporters</a></li> --}}
                    <li class="nav-item"><a href="/programmes" class="nav-link"><span class="fa fa-calendar fa-lg"></span> Programmes</a></li>
                    <li class="nav-item"><a href="/contact" class="nav-link"><span class="fa fa-phone fa-lg"></span> Contacts</a></li>
                </ul>
            </div>
        </div>
    </nav>