<div class="container-fluid mainframe">
    {{>header}}
    <div class="container">
        <div class="row p-3">
            <div class="col-lg-6 p-3">
                <div id="demo" class="carousel slide" data-ride="carousel">
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                    </ul>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                        <img src="/images/orphanage/4.jpg" alt="Los Angeles" width="1100" height="500">
                        </div>
                        <div class="carousel-item">
                        <img src="/images/plantation/3.jpeg" alt="Chicago" width="1100" height="500">
                        </div>
                        <div class="carousel-item">
                        <img src="/images/safai/3.jpg" alt="New York" width="1100" height="500">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 border-bottom text-justify font-weight-strong p-3">
                <h4>Who We Are</h4>
                <p class="blockquote-footer">Founded in By Brijesh Yadav</p>
                <p class="lead text-muted">
                    Shakti education and welfare society not only to teach the children basic education to slum,
                    underprivileged but to teach them to dream. Learning English, learning to read and write
                    would be impossible for those who are underprivileged.
                    Just a chance in life, that’s what the children need just a chance. For the piece of meal at a
                    restaurant you can save a child from a life of begging, rag picking and worst still from crime
                    and prostitution.
                    With no food, no hope and no family there is no hope for these children.
                    Without the regular monthly support shakti education and welfare society is unable to take
                    a new children or continue their ground level work in slums and on the street. Please help to
                    give these children elementary education, change for a life , give them hope and future.
                </p>
            </div>
        </div>
        <div class="row p-3" id="Mission" >
            <div class="col-lg-6 order-sm-last text-center align-self-center">
                <h1>Mission</h1>
            </div>
            <div class="col-lg-6 order-sm-first border-bottom text-justify font-weight-strong p-3">
                <p class="lead text-muted">The mission of <b>Shakti Education and Welfare Society</b> is to insure smile on every faces. This
                is best done by redeemed regenerated and progressive society, which will be free from
                exploitation, injustice and disparity. Everyone should get equal opportunity to be educated,
                where overall development and dignity of every person will be secured and people can live
                in peace, solidarity, co-operation and brotherhood and where the right of each one should
                be protected. All these will be brought about through transformation and sustained
                development of Indian society in which they live and all can get equal opportunity to be
                educated.
                </p>
            </div>
        </div>
        <div class="row p-3" id="Vision" >
            <div class="col-lg-6 text-center align-self-center">
                <h1>Vision</h1>
            </div>
            <div class="col-lg-6 text-justify font-weight-strong p-3 border-bottom">
                <p class="lead text-muted">The vision of <b>Shakti Education and Welfare Society</b> is to create equal and peaceful society
                where everybody shares and care for the illiteracy in the society. Poor, exploited and
                unprivileged people should have equal literacy rate and have the equal opportunity to make
                the world a better place to live in.
                </p>
            </div>
        </div>
        <div class="row p-3" id="Commitment" >
            <div class="col-lg-6 order-sm-last text-center align-self-center">
                <h1>Our Commitments</h1>
            </div>
            <div class="col-lg-6 order-sm-first text-justify font-weight-strong p-3">
                <p class="lead text-muted">Every person is of equal value and worth, therefore, we are committed to working with the
                poor people and community supporting them as they strive to meet their basic needs,
                overcome unjust and fulfill their dreams and potentials. In so, doing we are committed to
                fully acknowledge the integrity, worth and initiative of those who are oppressed by poverty
                and injustice.
                We are committed to work with people in the context of family, community and
                environment, with concern for their physical mental, social and emotional wellbeing. We
                always adopt holistic approach in our call and commitment.
                We are committed to work with partners, supporters, co- workers and volunteers in a
                professional manner.
                We are committed to learning from other in humility and seek to respond well to
                constructive criticism and changing need of those we serve.
                We are committed to work with the other organization in a spirit of collaboration rather
                than competition locally, nationally and internationally.
                </p>
            </div>
        </div>
        <div id="Goals" class="row border-top justify-content-center">
            <div class="row mt-4 text-center ">
                <center><h1>Our Future Goals</h1></center>
            </div>
        </div>
        <div class="row p-3">
            <ul  class="text-justify text-muted lead">
                <li>To ensure primary education for all children.</li>
                <li>To provide non-formal education to the street &amp; working children chiefly from the
                deprived section of our society.</li>
                <li>To promote literacy among adults, illiterate &amp; needy villagers from rural areas and slum
                dwellers of urban areas</li>
                <li>To adopt and care for orphan and semi orphan children especially girl children by
                protecting their rights to food, shelter, health and education.</li>
                <li>To provide health care and education to the needy and deserving.</li>
                <li>To conduct vocational training and counseling for adolescents and needy people.</li>
                <li>To provide a gateway to get opportunity for income among unemployed people especially
                the youth and adolescents.</li>
                <li>To provide relief and rehabilitation care to the victims of any natural or manmade
                calamity.</li>
                <li>To work on gender issues and welfare issues for women and children – especially girl
                children.</li>
                <li>To provide awareness among the people about environment issues.</li>
                <li>To create awareness among people about their legal rights, justice issues.</li>
                <li>To promote Brotherhood, Communal Harmony, National Integration at all levels.</li>
            </ul>
        </div>
    </div>
</div>
{{>footer}}