<div class="container-fluid mainframe">
    {{>header}}
    <div class="container">
        <div class="row p-2">
            <div class="col-lg-6 text-center overflow-hidden">
                <img class="img img-fluid" src="/images/brajeshpic.jpg" alt="image1">
            </div>
            <div class="col-lg-6 lead text-muted p-2">
                <h1>Mr. Brijesh Yadav</h1>
                <span class="blockquote-footer"><i>Founder/President</i></span>
                <span class="blockquote-footer"><i>B.TECH (Mechanical Engineer)</i></span>
                <br>
                <p class="lead">Bundelkhand Institute of Engineering and Technology</p>
                <address class="lead">Jhansi, UttarPradesh</address>
                <p>Mobile Number: 9451823944</p>
                <p>Email: brijeshyadavsrs@gmail.com</p>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-lg-6 text-center overflow-hidden order-sm-last">
                <img class="img img-fluid" src="/images/ankit.jpeg" alt="image1">
            </div>
            <div class="col-lg-6 lead text-muted p-2 order-sm-first">
                <h1>Mr. Ankit Baghel</h1>
                <span class="blockquote-footer"><i>Founder/General Secretary </i></span>
                <span class="blockquote-footer"><i>B.TECH(Civil Engineer)</i></span>
                <br>
                <p class="lead">Bundelkhand Institute of Engineering and Technology</p>
                <address class="lead">Jhansi, UttarPradesh</address>
                <p>Mobile Number: 9568020837</p>
                <p>Email: ankit21baghel@gmail.com</p>
            </div>
        </div>
    </div>
</div>
{{>footer}}