<div class="container-fluid mainframe">
    {{>header}}
    <div class="container">
        <div class="row p-2">
            <div class="col-lg-6 text-center overflow-hidden">
                <img class="img img-fluid" src="/images/brajeshpic.jpg" alt="image1">
            </div>
            <div class="col-lg-6 lead text-muted p-2">
                <h1>Mr. Brijesh Yadav</h1><span class="blockquote-footer">B.TECH (Mechanical Engineer)</span><br>
                <p class="lead">Bundelkhand Institute of Engineering and Technology</p>
                <address class="lead">Jhansi, UttarPradesh</address>
                <p>Mobile Number: 9451823944</p>
                <p>Email: brijeshyadavsrs@gmail.com</p>
            </div>
        </div>
    </div>
</div>
{{>footer}}