<div class="container-fluid mainframe">
    {{>header}}
    <div class="row">
        <h3>Gallery/Plantation</h3>
    </div>
    <div class="row mb-5">
        <div class="col-lg-3">
            <img src="/images/plantation/1.jpg" class="img-fluid img-thumbnail" alt="image1">
        </div>
        <div class="col-lg-3">
            <img src="/images/plantation/5.jpeg" class="img-fluid img-thumbnail" alt="image1">
        </div>
        <div class="col-lg-3">
            <img src="/images/plantation/3.jpeg" class="img-fluid img-thumbnail" alt="image1">
        </div>
        <div class="col-lg-3">
            <img src="/images/plantation/4.jpg" class="img-fluid img-thumbnail" alt="image1">
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-lg-3">
            <img src="/images/plantation/2.jpeg" class="img-fluid img-thumbnail" alt="image1">
        </div>
    </div>
    <div class="row">
        <h3>Gallery/Orphanage</h3>
    </div>
    <div class="row mb-5">
        <div class="col-lg-3">
            <img src="/images/orphanage/1.jpg" class="img-fluid img-thumbnail" alt="image1">
        </div>
        <div class="col-lg-3">
            <img src="/images/orphanage/2.jpg" class="img-fluid img-thumbnail" alt="image1">
        </div>
        <div class="col-lg-3">
            <img src="/images/orphanage/7.jpeg" class="img-fluid img-thumbnail" alt="image1">
        </div>
        <div class="col-lg-3">
            <img src="/images/orphanage/5.jpg" class="img-fluid img-thumbnail" alt="image1">
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-lg-3">
            <img src="/images/orphanage/3.jpg" class="img-fluid img-thumbnail" alt="image1">
        </div>
        <div class="col-lg-3">
            <img src="/images/orphanage/6.jpg" class="img-fluid img-thumbnail" alt="image1">
        </div>
        <div class="col-lg-3">
            <img src="/images/orphanage/4.jpg" class="img-fluid img-thumbnail" alt="image1">
        </div>
    </div>
    <div class="row">
        <h3>Gallery/Swacch Bharat Abhiyaan</h3>
    </div>
    <div class="row mb-5">
        <div class="col-lg-3">
            <img src="/images/safai/5.jpg" class="img-fluid img-thumbnail" alt="image1">
        </div>
        <div class="col-lg-3">
            <img src="/images/safai/2.jpg" class="img-fluid img-thumbnail" alt="image1">
        </div>
        <div class="col-lg-3">
            <img src="/images/safai/3.jpg" class="img-fluid img-thumbnail" alt="image1">
        </div>
        <div class="col-lg-3">
            <img src="/images/safai/4.jpg" class="img-fluid img-thumbnail" alt="image1">
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-lg-3">
            <img src="/images/safai/1.jpg" class="img-fluid img-thumbnail" alt="image1">
        </div>
    </div>
</div>
{{>footer}}