<div class="container-fluid mainframe">
    {{>header}}
    {{!-- carsousel start --}}
    <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img src="/images/1.png" alt="Los Angeles" width="1100" height="500">
            </div>
            <div class="carousel-item">
            <img src="/images/2.jpg" alt="Chicago" width="1100" height="500">
            </div>
            <div class="carousel-item">
            <img src="/images/3.jpg" alt="New York" width="1100" height="500">
            </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    {{!-- carsousel end --}}
    {{!-- card container start --}}
    <div class="container">
        <div class="row card-row">
            <div class="col-lg-3">
                <div class="rowcard">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title text-center">Vision</h5>
                            <p class="card-text text-muted text-justify text-center text-wrap font-weight-bold">The vision of <b>Shakti Education and Welfare Society</b> is to create equal and peaceful society
                            where everybody shares and care for the illiteracy in the society. Poor, exploited and
                            unprivileged people should have equal literacy rate and have the equal opportunity.</p>
                            <a href="/about/#Vision" class="btn card-btn btn-sm">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="rowcard">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title text-center">Mission</h5>
                            <p class="card-text text-muted text-justify text-center text-wrap font-weight-bold">The mission of <b>Shakti Education and Welfare Society</b> is to insure smile on every faces. This
                            is best done by redeemed regenerated and progressive society, which will be free from
                            exploitation, injustice and disparity. </p>
                            <a href="/about/#Mission" class="btn card-btn btn-sm">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="rowcard">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title text-center">Our Commitment</h5>
                            <p class="card-text text-muted text-justify text-center text-wrap font-weight-bold">Every person is of equal value and worth, therefore, we are committed to working with the
                            poor people and community supporting them as they strive to meet their basic needs,
                            overcome unjust and fulfill their dreams and potentials.</p>
                            <a href="/about/#Commitment" class="btn card-btn btn-sm">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="rowcard">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title text-center">Our Goals</h5>
                            <p class="card-text text-muted text-justify text-center text-wrap font-weight-bold">
                            To ensure primary education for all children.
                            To provide non-formal education to the street &amp; working children chiefly from the
                            deprived section of our society.To provide relief and rehabilitation care to the victims of any natural or manmade
                            calamity.</p>
                            <a href="/about/#Goals" class="btn card-btn btn-sm">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- card container end --}}
        {{!-- Images --}}
        <div class="row">
            <div class="col-lg-4">
                <img src="/images/plantation/1.jpg" class="img-fluid img-thumbnail" alt="image1">
            </div>
            <div class="col-lg-4">
                <img src="/images/orphanage/1.jpg" class="img-fluid img-thumbnail" alt="image1">
            </div>
            <div class="col-lg-4">
                <img src="/images/safai/3.jpg" class="img-fluid img-thumbnail" alt="image1">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <img src="/images/plantation/3.jpeg" class="img-fluid img-thumbnail" alt="image1">
            </div>
            <div class="col-lg-4">
                <img src="/images/orphanage/2.jpg" class="img-fluid img-thumbnail" alt="image1">
            </div>
            <div class="col-lg-4">
                <img src="/images/safai/2.jpg" class="img-fluid img-thumbnail" alt="image1">
            </div>
        </div>
        {{!-- images end --}}
    </div>
    <br>
    {{!-- container end --}}
    <div class="row text">
        <div class="col-lg-6"></div>
        <div class=" lead text-justify p-5 col-lg-6 text-white justify-content-start"  style="padding:50px 50px 20px 50px;">
            <h2>About Our Organisation</h2><br>
            <p>United we win , divided we fall . 
            Shakti education and welfare society not only to teach the children basic education to slum,
            underprivileged but to teach them to dream. Learning English, learning to read and write
            would be impossible for those who are underprivileged.
            Just a chance in life, that’s what the children need just a chance. For the piece of meal at a
            restaurant you can save a child from a life of begging, rag picking and worst still from crime
            and prostitution.
            With no food, no hope and no family there is no hope for these children.
            Without the regular monthly support shakti education and welfare society is unable to take
            a new children or continue their ground level work in slums and on the street. Please help to
            give these children elementary education, change for a life , give them hope and future.
            </p>
            <a href="/about" class=" btn card-btn btn-sm">Read More</a>
        </div>
    </div>
    {{!-- <div class="container">
        <div class="video">
            <iframe width="100%" height="600px" src="https://www.youtube.com/embed/tgbNymZ7vqY" frameborder="0"></iframe>
        </div>
    </div> --}}
    {{!-- timeline --}}
    <div class="timeline">
        <div class="container-timeline left">
            <div class="content">
            <p class="font-weight-bold lead">है शौक यही अरमान यही,
            हम कुछ करके दिखलायेंगे ।
            मरने वाली दुनिया में हम ,
            अमरों में नाम लिखाएंगे ।</p>
            </div>
        </div>
        <div class="container-timeline right">
            <div class="content">
            <p class="font-weight-bold lead">“An individual has not started living until he can rise above the narrow confines of his individualistic concerns to the broader concerns of all humanity.”
            </p>
            </div>
        </div>
        <div class="container-timeline left">
            <div class="content">
            <p class="font-weight-bold lead">"किसी व्यक्ति ने तब तक जीना शुरू नहीं किया है जब तक कि वह अपने व्यक्तिवादी सरोकारों की संकीर्णता से ऊपर उठकर सभी मानवता के व्यापक सरोकारों से नहीं जुड़ सकता है।"
            </p>
            </div>
        </div>
        <div class="container-timeline right">
            <div class="content">
            <p class="font-weight-bold lead">We think too much and feel too little. More than machinery, we need humanity; more than cleverness, we need kindness and gentleness. Without these qualities, life will be violent and all will be lost. 
            Charlie Chaplin
            </p>                
            </div>
        </div>
    </div>
</div>
{{>footer}}
{{!-- container fluid end --}}

